.menuContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 260px;
  // min-width: 260px;
  &.minimized {
    width: 90px;
  }
}

.mainButton {
  display: flex;
  align-items: center;
  padding: 14px;
  color: white;
  justify-content: flex-end;

  &.minimized {
    padding-right: 8px;
    justify-content: center;
  }
}

.mainButton svg {
  margin-right: 8px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-shrink: 0;
  background: #1F2128;
  // border-right: 1px solid #636168;
  // border-radius: 10px;
}

.menuButtonContainer {
  display: flex;
  flex-direction: column;

  &.minimized {
    flex: 0;
  }
}

.menuButton {
  width: 100%;
}

.menuButtonIcon {
  margin-bottom: 8px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}

.imageContainer p {
  color: #BDBDBD;
  font-family: Pattaya;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #636168;
}

/* Oculta a logo em telas menores e exibe apenas os botões */
@media screen and (max-width: 768px) {
  .imageContainer {
    display: none;
  }

  .menuButtonContainer {
    display: flex;
    flex-direction: column;
  }

  .menuButton {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column; /* Altera a direção para coluna em telas menores */
    align-items: center; /* Alinha os itens ao centro */
    text-align: center; /* Alinha o texto ao centro */
  }

  .menuButtonIcon {
    margin-bottom: 8px;
  }
}
