.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.searchAndButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  p {
    color: #BDBDBD;
    font-size: 18px;
    text-align: center;
  }
}

.button {
  background-color: #00A3E0;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 1s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #0488A6;
  transform: scale(1.1);
}

.inputSearch {
  // flex-grow: 1;
  margin-right: 16px; // Adiciona margem à direita para separar o input do botão
}
