.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.searchAndButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  p {
    color: #BDBDBD;
    font-size: 18px;
    text-align: center;
  }
}

.button {
  background-color: #04B2D9;
  color: #fff;
  border: none;
  border-radius: 8px;
  height: 50px;
  width: 380px;
  outline: 0;
  cursor: pointer;
  transition: background-color 1s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #0488A6;
  transform: scale(1.01);
}

.button:disabled {
  background-color: #9e9e9e;
  color: #fff;
  cursor: not-allowed;
}

.inputSearch {
  // flex-grow: 1;
  margin-right: 16px; // Adiciona margem à direita para separar o input do botão
}
