.modalProductContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 24px;
  border-radius: 0 0 12px 12px;

  width: 800px;
}

.EditWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nameAndVariantWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.productCreate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 14px;
  border-radius: 6px;
  background: #84a59d;
  gap: 4px;
  border: unset;
  border-width: unset;

  color: white;

  cursor: pointer;
  transition: 0.3s filter ease;

  &:hover {
    filter: brightness(0.9);
  }
}

/// table input
.tableInputsContainer {
  margin-bottom: 100px;
}

.tableCreateContainer {
  margin-bottom: 24px;
}

.tableInputListContainer {
  max-height: 224px !important;
  overflow-y: auto !important;
}

.table {
  width: 100%;
}

.thead {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr ;
  gap: 8px;
  background: #f8bdbd;
  padding: 16px;
  justify-content: center;
  border-radius: 12px 12px 0 0;

  td {
    text-align: left;
    color: #000000de;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.17px;
  }
}

.tbody {


  tr:nth-child(2n + 1) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(252, 205, 205, 0.37);
  }

  tr {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr ;
    gap: 8px;
    align-items: center;
  }
}

.tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 8px;

  td {
    text-align: left;
    color: #000000de;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.17px;
    margin-right: 4px;
  }

  td:last-child {
    gap: 16px;
    display: flex;
    justify-content: flex-end;
  }
}

.productActionDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: #d96262;

  cursor: pointer;
  transition: 0.3s filter ease;

  &:hover {
    filter: brightness(0.9);
  }
}
