.inputCointainer {
  position: relative;
  svg {
    position: absolute;
    left: 16px;
    top: 12px;
  }
  input {
    &::placeholder {
      color: #BDBDBD;
    }
    padding-left: 52px;
    border-radius: 8px;
    background: #1F2128;
    height: 50px;
    width: 410px;
    border: none;
    outline: none;
    color: #BDBDBD;
  }
}
