.productDetailsContainer {
  width: 100%;
}
.imageWrapper {
  img {
    border-radius: 8px;
    width: 100%;
  }
}
.nameWrapper {
  display: flex;
  width: 100%;
}
.selectWrapper {
  display: flex;
  width: 124px;
}
.inputsWrapper {
  display: flex;
  width: 100%;
  gap: 24px;
  margin-bottom: 24px;
  margin-top: 24px;
}
.productDetailsTitle {
  margin-bottom: 24px;
  color: #000;
  font-size: 32px;
  font-weight: 500;
  line-height: 20px;
}
.productDetailsContent {
  display: flex;
  flex-direction: column;
  gap: 46px;
  border-radius: 10px;
  background: #fff;
  padding-inline: 55px;
  padding-block: 76px;
}

.productInfoContainer {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;
}
.sideLeft {
  gap: 10px;
}
.sideRight {
  width: 100%;
}

.tableContainer {
  margin-top: 24px;
}
