.thead {
  display: flex;
  background: #1F2128;
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}

.tr {
  display: flex;
  width: 100%;
  column-gap: 6rem;
}

.text_container {
  color: #BDBDBD;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.17px;
}