.tr {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.17px;
}

.tr div {
  display: flex;

  margin-right: 10px;
  
}

.tr div:last-child {
  margin-right: 0; /* Remove o espaçamento do último campo */
}

.tr .productActionView,
.tr .productActionDelete {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productActionView {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: #ffef92;

  cursor: pointer;
  transition: 0.3s filter ease;

  &:hover {
    filter: brightness(0.9);
  }
}

.productActionDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: #d96262;

  cursor: pointer;
  transition: 0.3s filter ease;

  &:hover {
    filter: brightness(0.9);
  }
}

.productCreate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 8px;
  padding-inline: 14px;
  border-radius: 6px;
  background: #84a59d;
  gap: 4px;
  border: unset;

  color: white;

  cursor: pointer;
  transition: 0.3s filter ease;

  &:hover {
    filter: brightness(0.9);
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    filter: brightness(1);
  }
}

.productCancel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 6px;
  background: #d96262;

  cursor: pointer;
  transition: 0.3s filter ease;

  &:hover {
    filter: brightness(0.9);
  }
}
