.loginContainer{
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.CardloginWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-inline: 56px;
  padding-block: 46px;
  gap: 46px;

  background-color: white;
  border-radius: 10px;

  box-shadow: 0px 9px 44px 8px rgba(76, 78, 100, 0.12), 0px 23px 36px 3px rgba(76, 78, 100, 0.14), 0px 11px 14px -7px rgba(76, 78, 100, 0.20);
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;


  p {
    color: #F28482;
    font-family: Pattaya;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }

  span {
    width: 150px;
    height: 2px;

    background-color: #F28482;
  }
}

.loginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
}

.inputsContainer{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.createNewAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  padding: 16px; 
  border-radius: 10px;

  span {
    height: 2px;
    width: 100%;

    background-color: #F28482;
  }

}

.createNewAccount:hover {
  background: #F2848240;
  cursor: pointer;
}

.link {
  color: #F28482;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  min-width: 160px;

  background-color: transparent;
  border: none;
  cursor: pointer;

}