.main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainWrapper {
  display: flex;
}

.contentAndTopBar {
  display: flex;
  flex: 1;
}

.topBar {
  background-color: #30333F;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}


.content {
  width: 100%;
  background-color: #30333F;
  padding: 1.5rem;
  /* border-radius: 0.625rem; */
  flex: 1;
  overflow: auto;
}
