.main {
  margin: 0;
  padding: 0;
  padding: 1.875rem;
  display: flex;
  min-height: 100vh;
  gap: 1.25rem;
}

.contentAndTopBar {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.topBar {
  background-color: #30333F;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: 10px;
}

.content {
  width: 100%;
  background-color: #30333F;
  padding: 1.5rem;
  border-radius: 0.625rem;
  flex: 1;
  overflow: auto;
}
