.table {
  width: 100%;
}

.thead {
  display: grid;
    grid-template-columns: 80px 2fr repeat(3, 1fr) 80px;
    background: #f8bdbd;
  padding: 16px;
  justify-content: center;
  

  td {
    text-align: left;
    color: #000000de;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.17px;
  }
}

.tbody {
  tr:nth-child(2n + 1) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(252, 205, 205, 0.37);
  }

  tr {
    display: grid;
    grid-template-columns: 80px 2fr repeat(3, 1fr) 80px;
    align-items: center;
  }
}
