$cor-principal: #04B2D9;
$cor-secundaria: #F56D15;

.confirmDialogTitle {
  background-color: #1F2128;
  color: #FFFFFF;
}

.confirmDialogContent {
  background-color: #1F2128;
  color: #FFFFFF;
}

.confirmDialogActions {
  background-color: #1F2128;
}

.confirmDialogCancelButton {
  background-color: $cor-secundaria;
  color: #FFFFFF;

  &:hover {
    background-color: darken($cor-secundaria, 10%);
  }

  &:active {
    background-color: darken($cor-secundaria, 20%);
  }
}

.confirmDialogConfirmButton {
  background-color: $cor-principal;
  color: #FFFFFF;

  &:hover {
    background-color: darken($cor-principal, 10%);
  }

  &:active {
    background-color: darken($cor-principal, 20%);
  }
}
