.mainButton {
  width: 100%;
  color: #fff;
  padding: 14px;
  display: flex;
  height: 40px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #00A3E0;
  align-items: center;
  border: none;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-align: center;

  transition: 0.5s background ease;
  cursor: pointer;
}

.mainButtonActivated {
  background: #036B85;
  color: white;
}

.mainButton:hover {
  background: #0488A6;
}
.mainButton svg {
  margin-right: 16px;
}
