.createProductContainer {
}

.createProductTitle {
  margin-bottom: 24px;

  color: #000;
  font-size: 32px;
  font-weight: 500;
  line-height: 20px;
}

.createProductContent {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  padding-inline: 40px;
  padding-block: 60px;
  gap: 56px;

  border-radius: 10px;
  background: #BDBDBD;
}

.sideLeft {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.uploadFileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 417px;
  gap: 8px;

  border-radius: 4px;
  border: 1px dashed rgba(0, 0, 0, 0.12);

  input {
    display: none;
  }

  > p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.17px;
  }
}

.textWrapper {
  display: flex;
  align-items: center;
  gap: 2px;

  p {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;
  }
}

.labelUploadFile {
  color: #2196f3;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;

  border-bottom: 1px solid #2196f3;

  cursor: pointer;
}

.sideRight {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.productInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nameAndVariantWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 120px;
}

.descriptionAndMethodWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.createProduct {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
