.InputsContainer {
}

.InputBody {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.tableInputsContainer {
  margin-bottom: 100px;
}
.tableCreateContainer {
  margin-bottom: 16px;
}

.table {
  width: 100%;
}

.thead {
  background: #f8bdbd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.thead tr {
  display: flex;
  gap: 76px;
  padding: 16px;
}

.thead td {
  text-align: left;
  // color: #000000de;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.17px;
}

.tbody {
  tr:nth-child(2n + 1) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(252, 205, 205, 0.37);
  }


}
