.containerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.buttonContainer {
  width: 100%;
}

.hr {
  height: 1px;
  border: none;
  background-color: #636168;
  width: 100%;
  margin-bottom: 10px;
}