.containerWrapper {
  display: flex;
  flex-direction: column;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100%; 
  gap: 8px;
}

.button {
  align-self: flex-end;
  background: none;
  height: 38px;
  border: none; 
  padding: 0px 6px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #696282;
  transition: 0.3s filter ease, 0.3s transform ease;

  &:hover {
    filter: brightness(0.9);
    transform: scale(1.1);
  }
}

.button:disabled {
  background-color: #CCCCCC;
  color: #666666;
  cursor: not-allowed;
  filter: brightness(1);
  transform: scale(1);
}