.SelectBusinessContainer {
}

.SelectBusinessContent {
  display: flex;
  align-items: center;
  gap: 24px;
  // width: 260px;
  margin-top: 2px;
}

.IconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 50px;
  min-height: 50px;
  background: #F28482;
  border-radius: 50%;

  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}