.DateTabsContainer {
  width: 100%;
}


.MuiTabs-root.Mui-disabled .MuiTabs-flexContainer {
  color: #808080 !important;
}

.MuiTabs-root.Mui-disabled .MuiTab-root {
  color: #808080 !important;
}

.MuiTabs-root.Mui-disabled .MuiTabs-indicator {
  background-color: #808080 !important;
}