.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #f8bdbd;
  border-radius: 12px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px;
  background-color: #f8bdbd;
  border-radius: 12px 12px 0 0;
  border-bottom: 0.1rem solid #f8bdbd;

  p {
    font-size: 18px;
    font-weight: 600;
  }
}
