.productActionDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: #F56D15;

  cursor: pointer;
  transition: 0.3s filter ease;

  &:hover {
    filter: brightness(0.9);
  }
}