.tr {
  padding: 16px;
  display: flex;
  align-items: center;

  &:nth-child(odd) {
    background: #272a34;
  }

  th {
    flex: 1;
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.17px;
  }

  > td {
    position: relative;

    .MuiButton-root { // Estilizando o botão padrão do MUI
      transition: background-color 0.3s; // Adicionando transição para a cor de fundo
      &:hover {
        background-color: #ff0000; // Cor de fundo quando o botão é hover
      }
    }

    .lucide-react-Trash2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.3s; // Adicionando transição para o ícone

      &:hover {
        transform: translate(-50%, -50%) scale(1.2); // Aumenta um pouco o tamanho quando o ícone é hover
      }
    }
  }
}
