.tr {
  display: flex;
  padding: 16px;

  &:nth-child(odd) {
    background: #272A34;
  }

  th {
    flex: 1;
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.17px;
  }
}
