.container {
  display: flex;
  flex-direction: column; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); 
}

.ul {
  display: flex;
  flex-direction: column;  
  list-style: none;

  
  li {
    display: flex;
    padding: 16px 8px;
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:nth-child(odd) {
      background: #272a34;
    }
  }

  div {
    flex: 1;
  }

  span {
    position: fixed;
    right: 46px;
  }
}

