.dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 12px;
}

.dropdown-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.menuItemText {
  text-align: left;
}