.menuItem {
  transition: background-color 0.3s;
  
  &:hover {
    background-color: #0488A6;
  }

  .menuItemText {
    text-align: left;
    color: #BDBDBD;
  }

  .menuItemIcon {
    color: #BDBDBD;
  }
}