.menuItem {
  transition: background-color 0.3s;
  
  &:hover {
    background-color: #0488A6;
  }

  &.disabledItem {
    background-color: #616161;
    color: #757575;
    pointer-events: none;
    cursor: not-allowed; 
  }

  .menuItemText {
    text-align: left;
    color: #BDBDBD;
  }

  .menuItemIcon {
    color: #BDBDBD;
  }

  &.disabledItemIcon {
    color: #757575;
  }

  &:hover.disabledItem {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
  }
}

.dropDownTrigger {
  background-color: pink;
}