.button-container {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tableRow {
  // display: flex;

  color: #ddd;
  // justify-content: space-between;

  &:nth-of-type(odd) {
    background: #272a34;
  }
}

.tableCell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  padding: 8px 8px;
}

.tableHeader {
  // width: 100%;
  background: #1F2128;
  border-radius: 12px 12px 0 0;
  text-align: center;
}

.tableColumnHeader:last-child {
  flex: 1;
}

.tr {
  padding: 12px 8px;
  width: 100%;
}

.tableColumnHeader {
  padding: 14px 8px;
  text-align: left;
  color: #BDBDBD;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tableBody {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-container {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tableRoot {
  border-collapse: collapse;
  width: 100%;
}