.AddButtonContainer {
  display: flex;
  align-items: center;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 6px;
  background-color: #84a59d;
  border: none;
  gap: 20px;

  cursor: pointer;

  transition: 0.3s filter ease;
  &:hover {
    filter: brightness(0.9);
  }

  p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
  }
}
