.main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
}
       
.perfilContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
