.main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  border-bottom: 2px solid #636168; 
}

.img {
  display: block;
  max-width: 1200px;
}
       
.perfilContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
