.modalContainer {
  width: 800px;
  padding: 16px;
}

.table {
  width: 100%;
}

.thead {
  tr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #f8bdbd;
    padding: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  td {
    text-align: left;
    color: #000000de;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.17px;
  }
}

.tbody {
  max-height: 280px; /* Defina a altura máxima desejada */
  overflow-y: auto;
  width: 100%;

  tr:nth-child(2n + 1) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(252, 205, 205, 0.37);
  }
}

.tr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-inline: 16px;

  td {
    text-align: left;
    color: #000000de;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.17px;
  }

  .tdButton {
    button {
      height: 32px;
      margin: 4px;
    }
  }

  td:last-child {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
  }
}

.productCreate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 14px;
  border-radius: 6px;
  background: #0488A6;
  gap: 4px;
  border: unset;
  border-width: unset;

  color: #BDBDBD;

  cursor: pointer;
  transition: 0.3s filter ease;

  &:hover {
    filter: brightness(0.9);
  }
}