.customTextArea {
  display: flex;
  flex-direction: column;
  width: 100%;

  .textArea {
    width: 100%;
    padding: 16px;
    font-size: 14px;
    color: #bdbdbd;
    background: #272a34;
    border-color: #0488a6;
    border-radius: 4px;
    resize: vertical;

    &:hover {
      border-color: #0488a6;
    }

    &:focus {
      outline: none;
      border-color: #0488a6;
    }

    &:disabled {
      background: #272a34;
      color: #BDBDBD;
      cursor: not-allowed;
    }

    scrollbar-width: thin;
    scrollbar-color: #0488a6 #1f2128;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #0488a6;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: #1f2128;
    }
  }
}
