.AddButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 6px;
  background-color: #0468BF;
  border: none;
  gap: 20px;
  cursor: pointer;
  transition: 0.3s filter ease;
  height: 40px;
  width: 100%;

  color: #fff;
}

.AddButtonContainer:hover {
  filter: brightness(0.9);
}

.DisabledButton {
  background-color: #ccc; /* Altere para a cor desejada para o botão desativado */
  cursor: not-allowed; /* O cursor se torna 'não permitido' quando o botão está desativado */
}

.DisabledButton:hover {
  filter: unset;
}