.AddButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 6px;
  background-color: #0488A6;
  border: none;
  gap: 20px;
  cursor: pointer;
  transition: 0.3s filter ease;
  height: 40px;
  width: 100%;
  outline: none;
  color: #fff;
}

.AddButtonContainer:hover {
  filter: brightness(0.9);
}

.DisabledButton {
  background-color: #ccc;
  cursor: not-allowed;
}

.DisabledButton:hover {
  filter: unset;
}